<table class="table">
    <thead>
    <tr>
        <th>{{ 'Purchase Date'|trans({}, 'Modules.Purchasehistory.Admin') }}</th>
        <th>{{ 'Quantity'|trans({}, 'Modules.Purchasehistory.Admin') }}</th>
        <th>{{ 'Price'|trans({}, 'Modules.Purchasehistory.Admin') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for order in purchaseHistory %}
        <tr>
            <td>{{ order.purchase_date|date('Y-m-d H:i') }}</td>
            <td>{{ order.product_quantity }}</td>
            <td>{{ order.unit_price_tax_incl|number_format(2) }} {{ default_currency.iso_code }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3" class="text-center">
                {{ 'No purchase history available.'|trans({}, 'Modules.Purchasehistory.Admin') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
