<div class="form-group html-widget">
    <div id="purchase_history_table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'Order ID'|trans({}, 'Modules.Purchasehistory.Admin') }}</th>
                <th>{{ 'Date'|trans({}, 'Modules.Purchasehistory.Admin') }}</th>
                <th>{{ 'Quantity'|trans({}, 'Modules.Purchasehistory.Admin') }}</th>
                <th>{{ 'Price'|trans({}, 'Modules.Purchasehistory.Admin') }}</th>
                <th>{{ 'Actions'|trans({}, 'Modules.Purchasehistory.Admin') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in purchase_history %}
                <tr>
                    <td>{{ item.product_id }}</td>
                    <td>{{ item.purchase_date }}</td>
                    <td>{{ item.product_quantity }}</td>
                    <td>{{ item.unit_price_tax_incl }}</td>
                    <td>
                        <a href="{{ path('admin_orders_view', {'orderId': item.id_order}) }}" class="btn btn-primary btn-sm">
                            {{ 'View Order'|trans({}, 'Modules.Purchasehistory.Admin') }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'No purchase history available.'|trans({}, 'Modules.Purchasehistory.Admin') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>